<!DOCTYPE html>
<html>
	<head>
		<title>
			Stripe
		</title>
	</head>
	<body>
		<div>
	<form action='/charge' method='POST' id='checkout-form'>
    <input type='hidden' th:value='${amount}' name='amount' />
    <label>Price:<span th:text='${amount/100}' /></label>
    <!-- NOTE: data-key/data-amount/data-currency will be rendered by Thymeleaf -->
    <script
       src='https://checkout.stripe.com/checkout.js' 
       class='stripe-button'
       th:attr='data-key=${stripePublicKey}, 
         data-amount=${amount}, 
         data-currency=${currency}'
       data-name='Solar BTS'
       data-description='Spring course checkout'
       data-image
         ='RuLink/images/rulink.png'
       data-locale='auto'
       data-zip-code='false'>
   </script>
   </div>
</form>
	</body>
</html>